body {
    font-family: Arial;
    padding: 20px;
}

button {
    background-color: rgb(40, 40, 161);
    padding: 10px;
    cursor: pointer;
}

li {
    margin: 10px 0;
}

.text {
    color: rgb(255, 243, 221);
    font-size: 20px;
}